/* Tags */
body{
    width: 100%;
    margin: 0;
}

label{
    font-size: 1vw;
}

span{
    font-size: 1vw;
}

.tooltip{
    visibility: hidden;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.form{
    margin: 5%;
}
.form1{
    margin-top: 2%;
    padding: 2%;
    overflow: scroll;
    overflow-x: hidden;
    height: 50vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form input[type=date], .form input[type=number], .form input[type=text], .form input[type=email], .form input[type=password], .form input[type=date], .form1 input[type=number], .form1 input[type=text], .form1 input[type=email], .form1 input[type=password]{
    margin-bottom: 5%;
    color: aliceblue;
    width: 80%;
    padding-left: 5%;
    padding-right: 3%;
    height: 4vh;
    background-color: rgba(159, 181, 229, 0.4);
    border: none;
    border-style: solid 1px;
    border-radius: 15px;
    font-size: 0.9vw;
}

.form1 select {
    margin-bottom: 5%;
    color: aliceblue;
    width: 90%;
    padding-left: 5%;
    padding-right: 3%;
    height: 4vh;
    background-color: rgba(159, 181, 229, 0.4);
    border: none;
    border-style: solid 1px;
    border-radius: 15px;
    font-size: 0.9vw;
}

.form1 option {
    color: rgb(0, 0, 0);
    width: 80%;
    padding-bottom: 20px;
    background-color: rgba(135, 147, 172, 0.4);
    border: none;
    font-size: 0.9vw;
}

.form1 input[type=checkbox]{
    accent-color: rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    top: 4px;
    vertical-align: middle;
    width: 6%;
    height: 6%;
    cursor: pointer;
}
.form ::placeholder, .form1 ::placeholder{
    color: white;
    opacity: 55%;
    font-size: 0.9vw;
    font-weight: 50;
    padding: 10px;
}
.form1::-webkit-scrollbar{
    width: 1px;
}
.form1::-webkit-scrollbar-thumb{
    background: rgba(159, 181, 229, 0.4);
}
.form button{
    background-color: azure;
    height: 4vh;
    width: 80%;
    font-weight: bold;
    border: none;
    border-style: solid 1px;
    border-radius: 20px;
    font-size: 0.9vw;
}
.form button:hover{
    background-color: rgb(206, 224, 224);
    opacity: 80%;
    transition: 300ms;
    cursor: pointer;
}

/* Classes */

.bg-img{
    width: 100%;
    height: 100vh;
    filter: blur(15px);
    background-image: url("Bank.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.switch-option{
    background-color: rgba(0,0,0, 0);
    color: whitesmoke;
    border: none;
    font-weight: 200;
    width: 50%;
    height: 7vh;
    opacity: 50%;
    font-size: 1vw;
}
.switch-option:hover{
    opacity: 100%;    
    border-bottom: solid 1px;
    transition: 200ms;
    cursor: pointer;
}

.login{
    opacity: 100%;
    border-bottom: solid 1px;
}

.bg-img1{
    width: 100%;
    height: 20vh;
    background-image: url("Bank.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block{
    background-color: rgba(5, 24, 37, 0.4);
    width: 20%;
    height: 55vh;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.block-height{
    height: 90vh !important;
    transition: 0.5s;
}

.block-height-password{
    height: 46vh !important;
    transition: 0.5s;
}

.password{
    width: 100%;
    height: min-content;
    text-align: center;
}

.tool-tip-disp{
    visibility: visible;
    transition: 3s;
}

.warn-input{
    background-color: rgba(247, 7, 19, 0.4);
}

.display{
    display: none !important;
}

.wrong-input{
    background-color: rgba(247, 7, 19, 0.4) !important;
}
.account-id-incorrect{
    background-color: rgba(247, 7, 19, 0.4) !important;
    margin-bottom: 5% !important;
}